@model EmployeeClient.Models.Domain.GoodReceivedHeader
@{
    ViewData["Title"] = "Create Goods Received";
}
<div class="card-header"><h4 style="font-family: monospace; font-weight: bold;">New Goods Received</h4></div>
<div class="card-body">
    <details>Here!!</details>
</div>