@model EmployeeClient.Models.Domain.Category

@{
    ViewData["Title"] = "Update";
}
<div class="card-header">
    <h5>Update category</h5>
</div>
<div class="card-body">
    <div class="col-md-8">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CategoryId" />
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" oninput="this.value = this.value.toUpperCase()" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="Status"></label>
                <select class="form-control form-control-sm form-select form-select-sm select2 statusSelect" asp-for="Status">
                    <option>Choose Status</option>
                    <option>Active</option>
                    <option>In-Active</option>
                </select>
            </div>
            <div class="form-group pt-2">
                <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-edit"></i> Update Category</button>
                <a class="btn btn-danger btn-lg" asp-controller="Category" asp-action="Index"><i class="fa fa-close"></i></a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.statusSelect').select2();
        });
    </script>
}
