@model EmployeeClient.Models.Domain.Product
@{
    ViewData["Title"] = "Create Product";
}
<div class="card-header">
    <h5>Create Products</h5>
</div>
<div class="card-body">
    <form asp-controller="Product" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ProductName" class="control-label"></label>
                    <input asp-for="ProductName" class="form-control" />
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ProductCode" class="control-label"></label>
                    <input asp-for="ProductCode" class="form-control" readonly />
                    <span asp-validation-for="ProductCode" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ProductQty" class="control-label"></label>
                    <input asp-for="ProductQty" class="form-control" />
                    <span asp-validation-for="ProductQty" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ProductVat" class="control-label"></label>
                    <input asp-for="ProductVat" class="form-control" />
                    <span asp-validation-for="ProductVat" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.Category">
                        <option value="">Choose Category</option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ProductReorderLevel" class="control-label"></label>
                    <input asp-for="ProductReorderLevel" class="form-control" />
                    <span asp-validation-for="ProductReorderLevel" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ProductBuyingPrice" class="control-label"></label>
                    <input asp-for="ProductBuyingPrice" class="form-control" />
                    <span asp-validation-for="ProductBuyingPrice" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ProductSellingPrice" class="control-label"></label>
                    <input asp-for="ProductSellingPrice" class="form-control" />
                    <span asp-validation-for="ProductSellingPrice" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ProductSupplier" class="control-label"></label>
                    <input asp-for="ProductSupplier" class="form-control" />
                    <span asp-validation-for="ProductSupplier" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="MeasureUnitId" class="control-label"></label>
                    <select asp-for="MeasureUnitId" class="form-control" asp-items="@ViewBag.Measure">
                        <option value="">Select Measure Unit</option>
                    </select>
                    <span asp-validation-for="MeasureUnitId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="ProductDescription" class="control-label"></label>
                    <textarea asp-for="ProductDescription" class="form-control"></textarea>
                    <span asp-validation-for="ProductDescription" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group pt-3">
            <a class="btn btn-danger btn-lg" asp-controller="Product" asp-action="Index"><i class="fa fa-close"></i> Close</a>
            <button type="submit" class="btn btn-dark btn-lg"><i class="fa fa-plus"></i> Create Product</button>
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
