@model EmployeeClient.Models.Domain.PInvoiceHeader
@{
    ViewData["Title"] = "Purchase Invoice";
}
<div class="card-header"><h4 style="font-family: monospace; font-weight: bold;">View Purchase Invoice Details.</h4></div>
<div class="card-body">

</div>
