@model EmployeeClient.Models.Domain.Supplier
@{
    ViewData["Title"] = "Add Supplier";
}
<div class="card-header">
    <h4 style="font-family: monospace; font-weight: bold;">Add New Supplier</h4>
</div>
<div class="card-body">
    <form asp-action="Create">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4">
                <div class="form-group">
                    <label style="font-family: monospace; font-weight: bold;" class="form-label" asp-for="SupplierCode"></label>
                    <input class="form-control" asp-for="SupplierCode" readonly />
                    <span class="text-danger" asp-validation-for="SupplierCode"></span>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4">
                <div class="form-group">
                    <label style="font-family: monospace; font-weight: bold;" class="form-label text-uppercase" asp-for="SupplierName"></label>
                    <input class="form-control form-control-sm text-uppercase" asp-for="SupplierName" oninput="this.value = this.value.toUpperCase()" />
                    <span class="text-danger" asp-validation-for="SupplierName"></span>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4">
                <div class="form-group">
                    <label style="font-family: monospace; font-weight: bold;" class="form-label text-uppercase" asp-for="SupplierEmail"></label>
                    <div class="input-group">
                        <div class="input-group-text" id="emailIcon"><i class="fa fa-envelope-square"></i></div>
                        <input class="form-control form-control-sm" asp-for="SupplierEmail" aria-describedby="emailIcon" oninput="this.value = this.value.toLowerCase()" />
                    </div>
                    <span class="text-danger" asp-validation-for="SupplierEmail"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4">
                <div class="form-group">
                    <label style="font-family: monospace; font-weight: bold;" class="form-label text-uppercase" asp-for="BankName"></label>
                    <input class="form-control form-control-sm" asp-for="BankName" oninput="this.value = this.value.toUpperCase()" />
                    <span class="text-danger" asp-validation-for="BankName"></span>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4">
                <div class="form-group">
                    <label style="font-family: monospace; font-weight: bold;" class="form-label text-uppercase" asp-for="Branch"></label>
                    <input class="form-control form-control-sm" asp-for="Branch" oninput="this.value = this.value.toUpperCase()" />
                    <span class="text-danger" asp-validation-for="Branch"></span>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4">
                <div class="form-group">
                    <label style="font-family: monospace; font-weight: bold;" class="form-label text-uppercase" asp-for="AccountNumber"></label>
                    <input class="form-control form-control-sm" asp-for="AccountNumber" />
                    <span class="text-danger" asp-validation-for="AccountNumber"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4">
                <div class="form-group">
                    <label style="font-family: monospace; font-weight: bold;" class="form-label text-uppercase" asp-for="CurrencyId"></label>
                    <select class="form-control form-control-sm form-select form-select-sm select2 CurrencyData" asp-for="CurrencyId" asp-items="@ViewBag.Currency">
                        <option value="">Select Currency</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4">
                <div class="form-group">
                    <label style="font-family: monospace; font-weight: bold;" class="form-label text-uppercase" asp-for="PostalAddress"></label>
                    <input class="form-control form-control-sm" asp-for="PostalAddress" />
                    <span class="text-danger" asp-validation-for="PostalAddress"></span>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4">
                <div class="form-group">
                    <label style="font-family: monospace; font-weight: bold;" class="form-label text-uppercase" asp-for="PhysicalAddress"></label>
                    <input class="form-control form-control-sm" asp-for="PhysicalAddress" oninput="this.value = this.value.toUpperCase()" />
                    <span class="text-danger" asp-validation-for="PhysicalAddress"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4">
                <div class="form-group">
                    <label style="font-family: monospace; font-weight: bold;" class="form-label text-uppercase" asp-for="KRAPin"></label>
                    <input class="form-control form-control-sm text-uppercase" asp-for="KRAPin" oninput="this.value = this.value.toUpperCase()" />
                    <span class="text-danger" asp-validation-for="KRAPin"></span>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4">
                <div class="form-group">
                    <label style="font-family: monospace; font-weight: bold;" class="form-label text-uppercase" asp-for="PhoneNumber"></label>
                    <div class="input-group">
                        <div class="input-group-text" id="phoneNumberIcon"><i class="fa fa-phone-square"></i></div>
                        <input class="form-control form-control-sm" asp-for="PhoneNumber" aria-describedby="phoneNumberIcon" />
                    </div>
                    <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                </div>
            </div>
        </div>
        <div class="form-group pull-right pt-2">
            <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-plus-square"></i> New Supplier</button>
            <a class="btn btn-danger btn-sm" asp-action="Index" asp-controller="Supplier"><i class="fa fa-close"></i></a>
        </div>
    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(document).ready(function () {
            $('.CurrencyData').select2();
        })
    </script>
}
