@model EmployeeClient.Models.Domain.MeasureUnit
@{
    ViewData["Title"] = "Edit Units";
}
<div class="card-header">
    <h4 style="font-family: monospace; font-weight: bold;">Updating Measure Units</h4>
</div>
<div class="card-body">
    <div class="col-md-8">
        <form asp-action="Edit" asp-controller="Measure">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MeasureUnitId" />
            <div class="form-group">
                <label asp-for="MeasureUnitName" class="control-label" style="font-family: monospace; font-weight: bold;"></label>
                <input asp-for="MeasureUnitName" class="form-control form-control-sm" />
                <span asp-validation-for="MeasureUnitName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="Status" style="font-family: monospace; font-weight: bold;"></label>
                <select class="form-control form-control-sm form-select form-select-sm select2 statusSelect" asp-for="Status">
                    <option>Choose Status</option>
                    <option>Active</option>
                    <option>In-Active</option>
                </select>
                <span class="text-danger" asp-validation-for="Status"></span>
            </div>
            <div class="form-group pull-right pt-3">
                <button class="btn btn-success" type="submit"><i class="fa fa-edit"></i> Update Units</button>
                <a class="btn btn-danger" asp-controller="Measure" asp-action="Index"><i class="fa fa-close"></i></a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.statusSelect').select2();
        });
    </script>
}
